In [1]:
import pandas as pd
import numpy as np

In [20]:
import time

In [2]:
import tensorflow as tf
from tensorflow.keras.layers import Dense,LSTM,LeakyReLU

In [3]:
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator

In [4]:
df=pd.read_csv('Public Data.csv')

In [5]:
df['Status']=df['Status'].replace(['Developing', 'Developed'],[0,1])

In [6]:
df.isna().sum()

Unnamed: 0                    0
Country                       0
Year                          0
Status                        0
Power Level                  10
Civilian Deaths              10
Military Accidents            0
Substance Abuse              17
Military Investment           0
Air Force                   544
Army                          0
Intelligence                 32
Navy                          0
Submarines                   19
Educational Investment       45
Literacy                     19
Revolts                       0
GDP                         419
Population                  611
Offense                      32
Defense                      32
Political Stability         157
International Reputation    153
dtype: int64

In [7]:
df_=df.copy()

In [8]:
df=df.drop(['Unnamed: 0','Country'],axis=1)

In [9]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(df)
df=imputer.transform(df)
df=pd.DataFrame(df)

In [10]:
df_.columns

Index(['Unnamed: 0', 'Country', 'Year', 'Status', 'Power Level',
       'Civilian Deaths', 'Military Accidents', 'Substance Abuse',
       'Military Investment', 'Air Force', 'Army', 'Intelligence', 'Navy',
       'Submarines', 'Educational Investment', 'Literacy', 'Revolts', 'GDP',
       'Population', 'Offense', 'Defense', 'Political Stability',
       'International Reputation'],
      dtype='object')

In [11]:
df.columns=['Year', 'Status', 'Power Level',
       'Civilian Deaths', 'Military Accidents', 'Substance Abuse',
       'Military Investment', 'Air Force', 'Army', 'Intelligence', 'Navy',
       'Submarines', 'Educational Investment', 'Literacy', 'Revolts', 'GDP',
       'Population', 'Offense', 'Defense', 'Political Stability',
       'International Reputation']

In [12]:
df['Country']=df_['Country']

In [13]:
df.head()

,Year,Status,Power Level,Civilian Deaths,Military Accidents,Substance Abuse,Military Investment,Air Force,Army,Intelligence,...,Educational Investment,Literacy,Revolts,GDP,Population,Offense,Defense,Political Stability,International Reputation,Country
0,2022.0,0.0,59.73,271.0,62.0,-0.25,73.83,59.0,495.0,18.33,...,8.06,62.0,-0.21,612.86,327582.0,17.16,17.68,0.44,10.57,Afghanistan
1,2021.0,0.0,60.50,268.0,66.0,-0.67,73.66,71.0,431.0,18.80,...,8.08,65.0,-0.04,631.58,31731688.0,18.28,17.85,0.72,10.40,Afghanistan
2,2020.0,0.0,60.09,271.0,70.0,-0.17,77.76,65.0,2788.0,16.39,...,8.71,70.0,-0.21,669.50,3696953.0,16.85,18.46,0.99,9.52,Afghanistan
3,2019.0,0.0,58.88,279.0,70.0,0.69,6.95,72.0,3014.0,16.64,...,8.34,72.0,-0.60,63.67,2978596.0,17.72,18.11,0.84,9.82,Afghanistan
4,2018.0,0.0,59.26,272.0,74.0,0.07,79.82,70.0,1988.0,17.04,...,9.40,66.0,-0.12,553.89,2883166.0,18.91,18.76,0.52,9.14,Afghanistan

In [14]:
test_df=pd.read_csv('Test Dataset.csv')

In [15]:
test_df

,Country,Year,Status,Civilian Deaths,Military Accidents,Military Investment,Air Force,Army,Intelligence,Navy,Submarines,Literacy,Revolts,GDP,Population,Offense,Defense,Political Stability,International Reputation
0,Afghanistan,2023,Developing,264,61,71.59,69.0,1153,18.28,84,8,68,0.65,583.49,33736494.0,17.50,16.52,1.33,9.68
1,Albania,2023,Developing,75,2,364.95,98.0,-2,57.89,2,97,94,-0.88,3954.09,28873.0,1.43,1.58,1.81,14.35
2,Algeria,2023,Developing,20,21,-0.23,95.0,63,59.52,22,93,92,0.32,4132.55,39871526.0,5.97,5.76,0.25,13.24
3,Angola,2023,Developing,337,65,-0.11,58.0,117,23.71,102,9,63,1.44,3696.01,2785939.0,7.46,8.82,0.04,10.25
4,Antigua and Barbuda,2023,Developing,9,-6,-0.67,98.0,1,47.73,1,95,100,0.68,13567.04,NaN,3.53,3.16,1.18,14.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),2023,Developing,156,10,-0.03,87.0,-3,62.08,12,88,88,0.82,NaN,NaN,1.06,1.07,0.04,14.52
179,Viet Nam,2023,Developing,128,28,0.03,98.0,261,17.27,33,99,94,-0.19,NaN,NaN,14.00,14.87,-0.21,13.09
180,Yemen,2023,Developing,221,39,0.32,67.0,469,40.77,46,64,75,-0.26,NaN,NaN,13.46,13.32,0.76,8.74
181,Zambia,2023,Developing,35,24,-0.22,12.0,13,23.61,41,8,15,3.66,1313.08,161586.0,6.17,5.99,-0.30,12.46
182,Zimbabwe,2023,Developing,337,25,0.58,86.0,3,31.53,29,84,83,5.96,119.02,15777449.0,5.61,5.53,1.07,10.57

In [16]:
contries=test_df['Country'].unique()

In [17]:
cont_1=[]
for cont in contries:
    if (len(df[df['Country']==cont]) <15 ):
        cont_1.append(cont)
        print(cont + f"{len(df[df['Country']==cont])}")

In [43]:
model=tf.keras.Sequential()

model.add(LSTM(128,input_shape=(10,20),return_sequences=True))
model.add(LeakyReLU(alpha=0.5))

model.add(LSTM(64,return_sequences=True))
model.add(LeakyReLU(alpha=0.5))

model.add(LSTM(32,return_sequences=True))
model.add(LeakyReLU(alpha=0.5))

model.add(LSTM(32))
model.add(LeakyReLU(alpha=0.5))

model.add(Dense(128,activation='relu'))
model.add(Dense(128,activation='relu'))

model.add(Dense(1))

In [44]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
             loss=tf.keras.losses.MeanSquaredError())

In [41]:
%%time
pred=[]
for cont in contries:
    train=df[df['Country']==cont]
    train=train.sort_values('Year')
    train['Year']=pd.to_datetime(train['Year'],format='%Y')
    train=train.drop(['Country'],axis=1)
    if (len(train)==1):
        pred.append(np.array(train['Power Level']))
        print(cont + f" done and predicted {pre}")
    else : 
        X=train.drop('Year',axis=1).to_numpy().tolist()
        y=train['Power Level'].tolist()
        df_gen=TimeseriesGenerator(X,y,length=5,sampling_rate=1,batch_size=1,stride=1)
        model.fit(df_gen,epochs=75,verbose=0)
        pr=train.iloc[5:].drop('Year',axis=1)
        pr=np.array(pr).reshape(1,10,20)
        pre=model.predict(pr)
        pred.append(pre)
        print(cont + f" done and predicted {pre}")

Afghanistan done and predicted [[59.070755]]
Albania done and predicted [[75.87774]]
Algeria done and predicted [[74.504585]]
Angola done and predicted [[49.506485]]
Antigua and Barbuda done and predicted [[75.51641]]
Argentina done and predicted [[75.03321]]
Armenia done and predicted [[74.44507]]
Australia done and predicted [[82.38685]]
Austria done and predicted [[84.22402]]
Azerbaijan done and predicted [[72.71668]]
Bahamas done and predicted [[74.46088]]
Bahrain done and predicted [[75.98629]]
Bangladesh done and predicted [[71.59937]]
Barbados done and predicted [[74.69699]]
Belarus done and predicted [[71.15951]]
Belgium done and predicted [[81.94318]]
Belize done and predicted [[69.892006]]
Benin done and predicted [[57.86754]]
Bhutan done and predicted [[67.54144]]
Bolivia (Plurinational State of) done and predicted [[69.68205]]
Bosnia and Herzegovina done and predicted [[75.88146]]
Botswana done and predicted [[60.77099]]
Brazil done and predicted [[73.975136]]
Brunei Darussalam done and predicted [[77.2093]]
Bulgaria done and predicted [[73.48964]]
Burkina Faso done and predicted [[56.389492]]
Burundi done and predicted [[55.882565]]
Côte d'Ivoire done and predicted [[50.82185]]
Cabo Verde done and predicted [[72.773125]]
Cambodia done and predicted [[66.518585]]
Cameroon done and predicted [[54.647552]]
Canada done and predicted [[83.15959]]
Central African Republic done and predicted [[49.650322]]
Chad done and predicted [[50.6284]]
Chile done and predicted [[79.85255]]
China done and predicted [[76.9438]]
Colombia done and predicted [[73.93403]]
Comoros done and predicted [[62.87528]]
Congo done and predicted [[61.227764]]
Costa Rica done and predicted [[78.49952]]
Croatia done and predicted [[76.76644]]
Cuba done and predicted [[78.296165]]
Cyprus done and predicted [[79.681854]]
Czechia done and predicted [[77.23448]]
Democratic People's Republic of Korea done and predicted [[69.82244]]
Democratic Republic of the Congo done and predicted [[56.824253]]
Denmark done and predicted [[78.94235]]
Djibouti done and predicted [[61.14375]]
Dominican Republic done and predicted [[72.746635]]
Ecuador done and predicted [[74.43755]]
Egypt done and predicted [[72.472015]]
El Salvador done and predicted [[72.29344]]
Equatorial Guinea done and predicted [[55.635754]]
Eritrea done and predicted [[62.740295]]
Estonia done and predicted [[75.50472]]
Ethiopia done and predicted [[61.253357]]
Fiji done and predicted [[69.160995]]
Finland done and predicted [[81.9636]]
France done and predicted [[83.6155]]
Gabon done and predicted [[62.821495]]
Gambia done and predicted [[61.904873]]
Georgia done and predicted [[73.857185]]
Germany done and predicted [[82.39097]]
Ghana done and predicted [[62.88925]]
Greece done and predicted [[82.441444]]
Grenada done and predicted [[72.62981]]
Guatemala done and predicted [[71.93076]]
Guinea done and predicted [[57.13416]]
Guinea-Bissau done and predicted [[56.310345]]
Guyana done and predicted [[66.023994]]
Haiti done and predicted [[58.65121]]
Honduras done and predicted [[73.51589]]
Hungary done and predicted [[74.379295]]
Iceland done and predicted [[81.869705]]
India done and predicted [[66.67326]]
Indonesia done and predicted [[67.51676]]
Iran (Islamic Republic of) done and predicted [[73.8072]]
Iraq done and predicted [[69.81538]]
Ireland done and predicted [[80.68762]]
Israel done and predicted [[81.95947]]
Italy done and predicted [[82.348175]]
Jamaica done and predicted [[75.19215]]
Japan done and predicted [[86.57344]]
Jordan done and predicted [[73.409485]]
Kazakhstan done and predicted [[67.30017]]
Kenya done and predicted [[59.1642]]
Kiribati done and predicted [[65.0393]]
Kuwait done and predicted [[74.168076]]
Kyrgyzstan done and predicted [[71.13247]]
Lao People's Democratic Republic done and predicted [[63.73692]]
Latvia done and predicted [[74.33548]]
Lebanon done and predicted [[74.69652]]
Lesotho done and predicted [[49.62633]]
Liberia done and predicted [[59.899525]]
Libya done and predicted [[72.25711]]
Lithuania done and predicted [[73.50219]]
Luxembourg done and predicted [[81.39378]]
Madagascar done and predicted [[64.20382]]
Malawi done and predicted [[52.60393]]
Malaysia done and predicted [[74.22217]]
Maldives done and predicted [[79.46205]]
Mali done and predicted [[54.492107]]
Malta done and predicted [[83.344986]]
Mauritania done and predicted [[61.32812]]
Mauritius done and predicted [[77.57562]]
Mexico done and predicted [[79.27615]]
Micronesia (Federated States of) done and predicted [[70.36578]]
Mongolia done and predicted [[67.590546]]
Montenegro done and predicted [[74.22286]]
Morocco done and predicted [[73.15938]]
Mozambique done and predicted [[54.649475]]
Myanmar done and predicted [[65.08646]]
Namibia done and predicted [[58.906067]]
Nepal done and predicted [[67.30933]]
Netherlands done and predicted [[78.49353]]
New Zealand done and predicted [[81.74868]]
Nicaragua done and predicted [[73.443214]]
Niger done and predicted [[60.60379]]
Nigeria done and predicted [[52.17968]]
Norway done and predicted [[77.57653]]
Oman done and predicted [[72.43756]]
Pakistan done and predicted [[63.637253]]
Panama done and predicted [[75.499306]]
Papua New Guinea done and predicted [[61.420803]]
Paraguay done and predicted [[72.5235]]
Peru done and predicted [[72.94847]]
Philippines done and predicted [[66.80166]]
Poland done and predicted [[75.108086]]
Portugal done and predicted [[77.71643]]
Qatar done and predicted [[77.96503]]
Republic of Korea done and predicted [[81.566765]]
Republic of Moldova done and predicted [[71.81321]]
Romania done and predicted [[73.41461]]
Russian Federation done and predicted [[68.52419]]
Rwanda done and predicted [[62.25496]]
Saint Lucia done and predicted [[73.44527]]
Saint Vincent and the Grenadines done and predicted [[71.951935]]
Samoa done and predicted [[72.98443]]
Sao Tome and Principe done and predicted [[66.95903]]
Saudi Arabia done and predicted [[72.837006]]
Senegal done and predicted [[62.581253]]
Serbia done and predicted [[74.31892]]
Seychelles done and predicted [[72.34747]]
Sierra Leone done and predicted [[47.07771]]
Singapore done and predicted [[81.35196]]
Slovakia done and predicted [[74.682655]]
Slovenia done and predicted [[79.50511]]
Solomon Islands done and predicted [[67.864296]]
Somalia done and predicted [[52.568714]]
South Africa done and predicted [[60.473675]]
South Sudan done and predicted [[53.822407]]
Spain done and predicted [[83.062645]]
Sri Lanka done and predicted [[73.745766]]
Sudan done and predicted [[62.388695]]
Suriname done and predicted [[73.61869]]
Swaziland done and predicted [[52.49689]]
Sweden done and predicted [[82.09069]]
Switzerland done and predicted [[81.63234]]
Syrian Arab Republic done and predicted [[68.28237]]
Tajikistan done and predicted [[65.954384]]
Thailand done and predicted [[72.65462]]
The former Yugoslav republic of Macedonia done and predicted [[73.63716]]
Timor-Leste done and predicted [[65.321434]]
Togo done and predicted [[57.025394]]
Tonga done and predicted [[72.449036]]
Trinidad and Tobago done and predicted [[74.28576]]
Tunisia done and predicted [[74.67817]]
Turkey done and predicted [[73.93652]]
Turkmenistan done and predicted [[66.14135]]
Uganda done and predicted [[58.67055]]
Ukraine done and predicted [[75.11853]]
United Arab Emirates done and predicted [[78.717224]]
United Kingdom of Great Britain and Northern Ireland done and predicted [[82.036736]]
United Republic of Tanzania done and predicted [[57.833107]]
United States of America done and predicted [[78.1216]]
Uruguay done and predicted [[78.61023]]
Uzbekistan done and predicted [[68.04166]]
Vanuatu done and predicted [[76.86886]]
Venezuela (Bolivarian Republic of) done and predicted [[73.06206]]
Viet Nam done and predicted [[74.655624]]
Yemen done and predicted [[63.628235]]
Zambia done and predicted [[55.204235]]
Zimbabwe done and predicted [[51.073982]]
CPU times: total: 5min 56s
Wall time: 17min 59s

In [32]:
pred=np.array(pred).reshape(183)

In [33]:
pred=pd.DataFrame(pred)

In [34]:
pred['id']=pred.index

In [36]:
pred['Power Level']=pred[0]

In [37]:
pred=pred.drop(0,axis=1)

In [38]:
pred.to_csv('pred.csv',index=False)